.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
    /* z-index는 position 속성이 설정된 경우만 적용,
    여러 layer가 겹치는 상황에서 사용자로부터 얼마나 가까운지를 나타냄.
    e.g. z-index:100은 z-index: 10보다 훨씬 위쪽에 있는 layer이다.
     */
}

.header_logo {
    width: 100px;
    object-fit: contain;
    margin : 0 20px;    /* 상하 마진 : 0 좌우 마진 : 20 */
    margin-top: 15px;
}

.header_search {
    display:flex;
    flex: 1; /* flex는 그 공간에서 얼만큼을 차지하는지 비율을 나타냄 */
    align-items: center;
    border-radius: 20px;
}

.header_searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header_searchIcon {
    background-color: #cd9042;
    padding: 5px;
    height: 15px;
}

.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header_nav {
    display: flex;
    justify-content: space-evenly;
}

.header_optionLineOne {
    font-size: 10px;
}
.header_optionLineTwo {
    font-size: 13px;
    font-weight: 800;
    margin-top: 3px;
}

.header_optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header_optionLineTwoheader_basketCount {
    margin-right: 10px;
    margin-left: 10px;
}

.homelogin {
    text-decoration: none;
    color:white;
}